* {
  font-family: sans-serif;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  background-color: #18181b;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.conteiner {
  max-width: 768px;
}

.logo {
  max-width: 300px;
  margin-bootonm: 24px;
}

.card-conteiner {
  margin: 0;
  font-family: Helvetica;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 60px);
  max-height: 180px;
  background-color: white;
  border-radius: 15px;
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  overflow: hidden;
}

.card p {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis; /* ...*/
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.card:hover {
  transform: scale(1.1);
}

.conteiner-details {
  color: #fff;
  margin: 14px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(-20%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.conteiner-details.show {
  opacity: 1;
  transform: translateY(0);
}

.conteiner-details.hide {
  color: #fff;
  margin: 14px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transation: opacity 0.5s ease, transform 0.5s ease;
}

.hide {
  display: none;
}

.title {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
